/*
Unique
*/

*, *:before, *:after {
  box-sizing: border-box;
}

/*
Font Families
*/

/* emtpy */

/*
Elements
*/

body {
    background-repeat: no-repeat;
    background-image: url('/images/feri.png?version=2019.8.1');
    background-size: 300px;
    background-position: 87px 47px;
    cursor: default;
    font-family: system-ui, sans-serif;
    font-size: 90%;
    min-height: 337px;
    padding: 1em;
    width: 300px;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    outline: none;
    padding: 0.3em;
}

h1 {
    margin: 0 0 0 -1px;
}

hr {
    background: #ccc;
    background: none;
    border: none;
    height: 1px;
    margin: 1.05em 0;
}

label {
    display: block;
    font-weight: 600;
    padding: 0 0 0.2em 0;
}

/*
IDs
*/

#button_area {
    margin: 0 0 0 -0.23em;
}

#button_config {
    display: inline-block;
    margin: 0 0 0 0.75em;
}

#button_connect {
    display: inline-block;
}

#button_disconnect {
    display: none;
}

#button_reconnect {
    display: none;
}

#button_save {
    display: none;
    margin: 0 0 0 0.75em;
}

#config_area {
    display: none;
}

#content_area {
    width: 54%;
}

#display_associate {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: white;
    display: none;
    left: 0;
    margin: 2em 0 0 0;
    padding: 1.5em;
    position: absolute;
    right: 0;
}

#display_error {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: white;
    display: none;
    left: 0;
    margin: 2em 0 0 0;
    padding: 1.5em;
    position: absolute;
    right: 0;
}

#display_status {
    margin: 0.9em 0 1em 0;
}

#input_server {
    margin-bottom: 0.5em;
}

/*
Classes
*/

/* empty */

/*
Combinations
*/

button img {
    filter: brightness(0.65);
    height: 49px;
    width: 49px;
}

button:focus img,
button:hover img {
    filter: sepia(1) hue-rotate(163deg) saturate(5);
}

#display_associate p {
    margin: 0;
}

#display_associate p + p {
    margin-top: 1em;
}

#display_error p {
    margin: 0;
}

#display_error p + p {
    margin-top: 1em;
}

/*
Form Elements
*/

input[type=text],
input[type=number] {
    border: 1px solid #aaa;
    font-size: 15px;
    padding: 6px 7px;
}

input[type=text] {
    width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 50%;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: 2px solid #00AAFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/*
Animations
*/

/* empty */

/*
Media Queries
*/

/* empty */